body {
    font-family: Arial, sans-serif; 
    font-size: 12px;
    text-align: center; 
}

p {
    text-align: right; 
}

table th {
    background-color: lightgray; 
}

a {
    color: black; 
    text-decoration: none; 
}

a:hover {
    color: black; 
    text-decoration: underline; 
    
}
