*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Noto Sans Mono", "sans serif";
    background-color: #6482AD;
}

main{
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex: 1;  
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px 3px;
    gap: 20px;
    text-align: left;
}

nav{
    background-color: #E2DAD6;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.tomorrow-extralight {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border: 2px solid;
    border-radius: 15px;
    text-align: left;
    font-size: 13px;
    padding: 10px;
    width: 500px;
    min-height: 250px;
    background-color: #E2DAD6;
}

.box h2{
    font-size: 35px;
    text-align: center;
    padding: 7px 0px 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
}

.box p{
    font-size: 17px;
    padding: 7px 0px 6px;
    margin: 10px;
}

.auth-button{
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 12px;
    margin: auto 10px;
    background-color: #7FA1C3;
    font-family: inherit;
    cursor: pointer
}

.material-symbols-outlined{
    color: black;
}

.material-symbols-outlined:visited{
    color: black;
}

.buttons-foot{
    width: 100%;
    display: flex;
    justify-content: center;
}

.index-page .nav-icons {
    display: flex; 
    gap: 30px; 
}

.index-page main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.category-headings{
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    padding: 0;
}

.laptop-icon, .phone-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E2DAD6;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.laptop-icon:hover, .phone-icon:hover{
    border: black solid 2px;
}

.category-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
    gap: 50px;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-item p {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    color: black;
    font-family: "Noto Sans Mono", sans-serif;
}

.category-item a{
    color: black;
    text-decoration: none;
}

.category-item:visited{
    color: black;
}






