* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #DCDFE4;
    --secondary-color: #fff;
    --font: black;
    --icon-border: black;
    --button-hover: #f1f1f1
}

.darkmode{
    --primary-color: #161A1D;
    --secondary-color: #2C333A;
    --font: white;
    --icon-border: white;
    --button-hover: #6c6b6b
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Tomorrow", "serif";
    background-color: var(--primary-color)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 80vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px 3px;
    gap: 20px;
    text-align: left;
}

label{
    color: var(--font);
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: 100%;
}

a {
    color: var(--font);
    text-decoration: none;

}


/* Company logo font */
.tomorrow-extralight {
    font-family: "Tomorrow", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: var(--font);
    font-size: 40px;
}



/* Used for making the login, registrtation and logout page */
.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid;
    border-radius: 15px;
    text-align: left;
    font-size: 13px;
    padding: 10px;
    width: 500px;
    min-height: 250px;
    background-color: var(--secondary-color);
}
.box h2 {
    font-size: 35px;
    text-align: center;
    padding: 7px 0px 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    color: var(--font);
}
.box p {
    font-size: 17px;
    padding: 7px 0px 6px;
    margin: 10px;
    color: var(--font);
}



/* Styling of the buttons used in the forms */
.auth-button {
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 12px;
    margin: auto 10px;
    background-color: var(--primary-color);
    font-family: inherit;
    cursor: pointer;
    color:var(--font)
}

.auth-button:hover{
    background-color: var(--button-hover);
}

.buttons-foot {
    width: 100%;
    display: flex;
    justify-content: center;
}



/* login/customer profile icons on the nav bar */
.material-symbols-outlined {
    color: var(--font);
}
.material-symbols-outlined:visited {
    color: var(--font);
}
.nav-icons {
    display: flex;
    gap: 30px;
}


/* Structure of the index page */
.index-page main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.index-page h1{
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}


/* Categories and subcategories on the index page */
.categories {
    display: flex;;
    flex-direction: column;
    align-items: center;
    transform: translateY(40%);
    gap: 10px;
    margin: 10px;
}
.category-headings {
    font-size: 25px;
    font-weight: 600;
    margin: 10px;
    padding: 0;
    color: var(--font);
}
.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.category-item p {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--font);
    font-family: "Noto Sans Mono", sans-serif;
}
.category-item a {
    color: var(--font);
    text-decoration: none;
}
.category-item:visited {
    color: var(--font);
}
.subcategories {
    position: absolute;
    top: 130px;
    /* Adjust this value based on your needs */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.category-item:hover .subcategories,
.category-item:hover .subcategories {
    visibility: visible;
    opacity: 1;
}
.category-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px;
    gap: 50px;
}
.hp-logo {
    background-image: url("./images/icons8-hp-70.png");
    background-position: center;
    background-size: 70px;
}
.samsung-logo {
    background-image: url("./images/icons8-samsung-80.png");
    background-position: center;
    background-size: 70px;
}
.laptop-icon,
.phone-icon,
.apple-icon,
.samsung-icon,
.hp-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.laptop-icon:hover,
.phone-icon:hover,
.apple-icon:hover,
.samsung-icon:hover,
.hp-icon:hover {
    border: var(--icon-border) solid 3px;
}


/* responsiveness */
.horizontal-layout {
    flex-direction: row;
}

/* adding to collection */
.collection-list{
    display: flex;
    flex-direction: column;

}

.collection-list h2{
    margin-top: 25px;
    font-size: 30px;
    color: var(--font);
}

.quantityInput{
    padding: 5px;
    background-color: var(--primary-color);
    font-family: inherit;
    text-align: center;
    min-width: 10vh;
    color: var(--font);
}

#collectionItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border: solid black 3px;
    width: 100vw;
}

#collectionItems li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    width: 100%;
    list-style: none;
    padding: 15px;
    color: var(--font);
}

#collectionItems .auth-button{
    position: relative;
}



/* changing currency */
.currency-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    text-align: center;
    gap: 5px;
    transform: translateY(80%);
    background-color: var(--secondary-color);
    min-width: 80px;
    border-radius: 4px;
}

.dropdown-content a {
    color: var(--font);
    padding: 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--button-hover);
    border-radius: 4px;
    cursor: pointer;
}

.show {
    display: block;
}

/* Styling for products page */
.products-page main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-page p{
    border: 5px;
}

.products-page .auth-button{
    margin: 10px;
    background-color: var(--primary-color);
}

.collection-list h2{
    margin-top: 25px;
    font-size: 30px;
    color: var(--font);
}

.quantityInput{
    padding: 5px;
    background-color: var(--primary-color);
    font-family: inherit;
    text-align: center;
    min-width: 10vh;
    color: var(--font);
}

#collectionItems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border: solid black 3px;
    width: 100vw;
}

#collectionItems li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    width: 100%;
    list-style: none;
    padding: 15px;
    color: var(--font);
}

#collectionItems .auth-button{
    position: relative;
}



/* changing currency */
.currency-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    text-align: center;
    gap: 5px;
    transform: translateY(80%);
    background-color: var(--secondary-color);
    min-width: 80px;
    border-radius: 4px;
}

.dropdown-content a {
    color: var(--font);
    padding: 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--button-hover);
    border-radius: 4px;
    cursor: pointer;
}

.show {
    display: block;
}

/* Styling for products page */
.products-page main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-page p{
    border: 5px;
}

.products-page .auth-button{
    margin: 10px;
    background-color: var(--primary-color);
}

.all-products{
    display: flex;
    justify-content: center;
    align-items: center;
}





.product {
    text-align:center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 20px 26px rgba(0, 0, 0, 0.5); 
    border-radius: 8px;
    width: 300px;
    height: auto;
}
.info {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.info a {
    color: var(--font);
    text-decoration: none;
}
.info a:hover {
    text-decoration: underline;
}
.product:hover {
    transform: scale(1.1); 
    transition: all 0.3s ease;
}
.info .product-name {
    font-size: 1.2em;  /* Adjust the font size as desired */
    font-weight: bold; /* Adjust the font weight */
}



/* styling for product details pages */
.product-details-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-image {
    max-width: 300px;
    border-radius: 10px;
}
.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--font);
}
.product-info table {
    border-collapse: collapse;
    width: 100%;
}
.product-info table td {
    padding: 8px;
    color: var(--font);
    border-bottom: 1px solid #ddd;
}
.product-info button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7FA1C3;
    color: var(--font);
    cursor: pointer;
    font-size: 16px;
}
.product-info button:hover {
    background-color: #6482AD;
}
.product-description {
    background-color: var(--secondary-color);
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 20px;
}
.product-description p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--font);
}



/* Styles for the about page */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}
.about-container h2{
    color: var(--font);
}

.about-description {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}

.about-description p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: var(--font);

}

#toggleDark {
    cursor: pointer;
}

.shopping-cart-page main{
    align-items: flex-start;
    justify-content: flex-start;
}

.shopping-cart-container {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    background-color: var(--primary-color);
    min-height: 80vh;
}

.shopping-cart-container h1 {
    font-size: 50px;
    color: var(--font);
    margin-bottom: 20px;
}

.cart-items {
    list-style:none;
    border-bottom: var(--icon-border);
    padding: 0;
    width: 90%;
    max-width: 800px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90vw;
}

.item-details {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--font);
}

.item-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.quantity-input {
    padding: 5px;
    width: 70px;
    text-align: center;
    font-family: inherit;
    background-color: var(--secondary-color);
    color: var(--font);
    border: 1px solid var(--icon-border);
    border-radius: 4px;
}

.item-subtotal {
    font-size: 16px;
    color: var(--font);
    text-align: right;
    margin-top: 10px;
}

.cart-summary {
    text-align: right;
    font-size: 20px;
    color: var(--font);
}

.empty-cart {
    font-size: 18px;
    color: var(--font);
    margin-top: 20px;
}

.status-container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60vw;
    text-align: center;
}

.status-container h2 {
    margin-bottom: 20px;
    color: var(--font);
}

.status-message {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--font);
}

.buttons-foot {
    display: flex;
    justify-content: center;
}

.checkout-page {
    background-color: var(--primary-color);
    color: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}


.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 800px;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Page Title */
.checkout-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--font);
}

/* Order Summary Section */
.order-summary {
    width: 100%;
    margin-bottom: 20px;
}

.order-summary h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--font);
}

.order-summary ul {
    list-style: none;
    padding: 0;
    color: var(--font);
    margin: 0;
}

.order-summary li {
    display: flex;
    justify-content: space-between;
    color: var(--font);
    padding: 10px 0;
    border-bottom: 1px solid var(--icon-border);
}

.order-summary li span {
    font-size: 16px;
}

.order-confirmation {
    text-align: center;
    margin-top: 50px;
}

.confirmation-container {
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
}

.confirmation-container h1{
    font-size: 35px;
    margin-bottom: 10px;
    color: var(--font);
}


.confirmation-container p{
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--font);
}


.update-container{
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 20%;
    margin: 0 auto;
}

.update-container h1{
    font-size: 35px;
    margin-bottom: 10px;
    color: var(--font);
}

.orders-table{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
}

.orders-table thead{
    border-bottom: 4px solid black;
}

.orders-table th, .orders-table td {
    padding: 12px;
    text-align: left;
}

.orders-table th {
    background-color: var(--secondary-color);
    color: var(--font);
    font-size: 16px;
    font-weight: bold;
}

.orders-table td {
    color: var(--font);
    font-size: 14px;
}

.orders-table tr {
    border-bottom: 2px solid #ddd; /* Light border after each row */
}

.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.search-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-container .tomorrow-extralight{
    font-size: 20px;
}

.search-input {
    display: flex;
    width: 100%;
    color: black;
}

#matchingProductsContainer {

    margin-top: 10px;
    background:var(--secondary-color);
    border: 1px solid #ddd;
    border-top: none;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.matching-products {
    padding: 10px;
    border-bottom: 1px solid black;
}

.matching-products:hover {
    background-color: var(--secondary-color)
}

.matching-products a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.matching-product-name {
    font-weight: bold;
}

.matching-product-price {
    color: #666;
}